<!DOCTYPE html>
<html>
<head>
<style>
            @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
        </style>
<title >Trevourr</title>
<link rel="stylesheet" type="text/css" href="/styles/home.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
<link rel = "icon" href = "/assets/avatar.png" type = "image/x-icon">
</head>
<body>
<p id="p1"><a href="https://trevourr.ga/home"><img src="/assets/avatar.png" id="icon"></a><a href="https://discord.gg/rUhJV84BXd" id="support"><i class="fab fa-discord"></i> Support</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://discord.com/oauth2/authorize?client_id=800012946943246366&permissions=261963513847&scope=applications.commands%20bot" id="invite"><i class="fas fa-plus"></i> Invite</a></p>
<h1>
<strong>Trevourr</strong><br>A MultiPurpose Discord Bot
</h1>
</body>
</html>